<template>
    <div>
        <topNav></topNav>
        <div class="container">
            <form v-on:submit.prevent="checkout">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br><br>
                        <h1 class="text-center text-weight-300 text-theme-color">Monitoring</h1>
                        <h5 class="text-center link-dark"><strong>ID Ordine : 123456</strong></h5>
                        <br>
                        <p class="text-center text-pr-theme-color">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet fermentum purus. Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                            Vivamus et convallis quam. Suspendisse sit amet efficitur ipsum. Aenean eget tortor posuere, convallis nisi et, consectetur sem.
                        </p>
                        <br><br>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="link-dark text-left"><strong>Payment Received 2 di 4</strong></h4>
                            </div>
                            <div class="col-md-6">
                                <h4 class="link-dark text-right"><strong>Due Time 12:54min</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br>
                        <div :class="{card: true,cardMargin: index > 0 ? true : false, 'blue-lagoon-border': index == 0 ? true : false}"
                             v-for="(card,index) in cards">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group text-center">
                                            <img src="http://mypinterventures.com/wp-content/uploads/2014/08/RoundProfilePic_zps5c4af539.png"
                                                 width="40px" v-if="auth.email != ''" alt="" class="rounded-circle">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Your name and surname</label>
                                                <md-input v-model="card.name" type="text" required></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Credit Card Number</label>
                                                <md-input v-model="card.cardNo" type="text" required></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Amount</label>
                                                <md-input v-model="card.amount" type="text" required></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <br><br><br>
                        <h4 class="link-dark text-left"><strong>Invitation Sent</strong></h4>
                        <br>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div :class="{card: true,cardMargin: index > 0 ? true : false}"
                             v-for="(card,index) in invitation">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Email Address</label>
                                                <md-input v-model="card.email" type="email" required></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <md-field>
                                                <label>Amount</label>
                                                <md-input v-model="card.amount" type="text" required></md-input>
                                            </md-field>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div>
                                            <md-menu>
                                                <md-button md-menu-trigger class="md-icon-button md-primary"><i class="fa fa-bars"></i></md-button>
                                                <md-menu-content>
                                                    <md-menu-item @click="click = 'click 2'">Resend Email</md-menu-item>
                                                    <md-menu-item @click="click = 'click 2'">Edit Email Address</md-menu-item>
                                                    <md-menu-item @click="click = 'click 2'">Pay tu!</md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row justify-content-center">
                    <h4 class="link-dark text-center"><strong>Share this page with your contact</strong></h4>
                </div>
            </form>
        </div>
        <footerNav></footerNav>
    </div>
</template>

<script>
    import topNav from './global/topNav';
    import footerNav from './global/footer';

    export default {
        name: 'app',
        data() {
            return {
                core: core,
                auth: {email: ''},
                cards: [
                    {
                        name: '',
                        cardNo: '',
                        dateTime: '',
                        cvv: '',
                        amount: 0,
                    }
                ],
                invitation: [
                    {
                        email: '',
                        amount: 0,
                    }
                ]
            }
        },
        components: {topNav, footerNav},
        methods: {
            addnewCard: function () {
                this.cards.push(
                    {
                        name: '',
                        cardNo: '',
                        dateTime: '',
                        cvv: '',
                        amount: 0,
                    }
                );
            },
            removeThiscard: function (index) {
                this.cards.splice(index, 1);
            },
            addNewinv: function () {
                this.invitation.push(
                    {
                        email: '',
                        amount: 0,
                    }
                );
            },
            removeThisInv: function (index) {
                this.invitation.splice(index, 1);
            },
            checkout: function () {
                localStorage.cards = JSON.stringify(this.cards);
                localStorage.invitation = JSON.stringify(this.invitation);
                this.$router.push('/payment/checkpoint');
            }
        },
        created() {
            if (localStorage.email !== undefined) {
                this.auth.email = localStorage.email;
                if (localStorage.cards !== undefined) {
                    this.cards = JSON.parse(localStorage.cards);
                } else {
                    this.$router.push('/card/details');
                }
                if (localStorage.invitation !== undefined) {
                    this.invitation = JSON.parse(localStorage.invitation);
                } else {
                    this.$router.push('/card/details');
                }
            } else {
                this.$router.push('/');
            }
        },
        mounted() {
            window.scrollTo(0, 0);
        }
    }
</script>
